<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Order'|translate}}&nbsp; # {{order.orders_id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="order-detail-content">
  <ion-card>
    <ion-card-header>
      {{'Order Details'|translate}}
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          {{'No of Products'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.data.length}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Status'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          <strong>{{order.orders_status}}</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Order Time'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.date_purchased| date:'shortTime'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Order Date'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.date_purchased | date}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Time Slot'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.delivery_time}}
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-header>
      {{'Price Detail'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{'Price'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.order_price | curency }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Delivery'|translate}} {{'Tax'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.order_price-order.shipping_cost | curency }}
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="6">
          {{'Delivery'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.shipping_cost | curency }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Total'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          <strong> {{order.order_price | curency}}</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{'Delivery Address'|translate}}
    </ion-card-header>
    <ion-row>
      <ion-col class="ion-no-padding" *ngIf="config.appSettings.maptype == 'external'">
        <ion-spinner *ngIf="externalMapUrl==''"></ion-spinner>
        <ion-button expand=block fill=outline size="small" href="{{externalMapUrl}}" target="_system"
          *ngIf="externalMapUrl!=''">
          <ion-icon slot="start" name="navigate"></ion-icon>{{'Navigate'|translate}}
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" *ngIf="config.appSettings.maptype != 'external'">
        <ion-button expand=block fill=outline size="small" (click)="navigate()">
          <ion-icon slot="start" name="navigate"></ion-icon>{{'Navigate'|translate}}
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button expand=block fill=outline size="small" (click)="makeCall(order.delivery_phone)">
          <ion-icon slot="start" name="call"></ion-icon>{{'Contact'|translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-card-content>

      <ion-row>
        <ion-col size="6">
          {{'Name'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.delivery_name}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Company'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.delivery_company}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Phone'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.billing_phone}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Email'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.email}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Post Code'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.delivery_postcode}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          {{'Street Address'|translate}}:
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <b>{{order.delivery_street_address+', '+order.delivery_city+', '+order.delivery_state+', '+order.delivery_country}}</b>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{'Billing Address'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{'Name'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.billing_name}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Company'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.billing_company}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Phone'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.billing_phone}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{'Email'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.email}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Post Code'|translate}}:
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.billing_postcode}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          {{'Street Address'|translate}}:
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <b>
            {{order.billing_street_address+', '+order.billing_city+', '+order.billing_state+', '+order.billing_country}}</b>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="order-product">
    <ion-card-header>
      {{'Products'|translate}}
    </ion-card-header>
    <ion-card-content *ngFor="let product of order.data">
      <ion-item lines=none>
        <ion-thumbnail slot="start">
          <img [src]="config.imgUrl+product.image">
        </ion-thumbnail>
        <ion-label>
          <h3>{{product.products_name}} </h3>
          <p>{{product.products_price | curency}} * {{product.products_quantity}}</p>
          <p></p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-card-header>
      {{'Delivery Method'|translate}}
    </ion-card-header>
    <ion-card-content>
      {{order.shipping_method}}
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      {{'Payment Method'|translate}}
    </ion-card-header>
    <ion-card-content>
      {{order.payment_method}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="order.coupons.length!=0">
    <ion-card-header>
      {{'Coupons Applied'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{'Coupon Code'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{'Coupon Price'|translate}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let c of order.coupons">
        <ion-col size="6">
          {{c.code}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{c.amount|curency}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="order.customer_comments!=null">
    <ion-card-header>
      {{'Order Notes'|translate}}
    </ion-card-header>
    <ion-card-content>
      {{order.customer_comments}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="order.admin_comments!=''">
    <ion-card-header>
      {{'Admin Notes'|translate}}
    </ion-card-header>
    <ion-card-content>
      {{order.admin_comments}}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="order.orders_status !== 'Entregado'">
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-button expand=block fill=outline (click)="finishOrderDelivery()">
        <ion-icon slot="start" name="arrow-forward"></ion-icon>{{'Finished'|translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
<!--<ion-footer *ngIf="order.orders_status== 'Dispatched' || order.orders_status== 'Enviado'">
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-button expand=block fill=outline (click)="cancelOrder()">
        <ion-icon slot="start" name="close"></ion-icon>{{'Cancel'|translate}}
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-button expand=block fill=outline (click)="finishOrder()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>{{'Deliver'|translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>-->
