<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Map'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" #map style="height:100%;"></div>
</ion-content>