<ion-tabs #appTabs>
  <ion-tab-bar slot="bottom" (click)="ionChange(appTabs)" >
    <ion-tab-button tab="home" [disabled]="shared.statusOfBoy==false">
      <img *ngIf="showImg()" src="assets/left-menu-icon/home.png">
      <ion-icon *ngIf="!showImg()" name="stats-chart"></ion-icon>
      <ion-label>
        <b>{{'Dashboard'|translate}}</b>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" [disabled]="shared.statusOfBoy==false">
      <img *ngIf="showImg()" src="assets/left-menu-icon/home.png">
      <ion-icon *ngIf="!showImg()" name="timer"></ion-icon>
      <ion-label>
        <b>{{'History'|translate}}</b>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <img *ngIf="showImg()" src="assets/left-menu-icon/user.png">
      <ion-icon *ngIf="!showImg()" name="settings"></ion-icon>
      <ion-label>
        <b>{{'Settings'|translate}}</b>
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>