<ion-header class="home-header">
  <ion-toolbar>
    <ion-title>
      {{"Dashboard"|translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="getOrders(null)">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" class="home-page-1 ion-padding-bottom">

  <ion-refresher slot="fixed" (ionRefresh)="getOrders($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding grid" *ngIf="orders.length==0">
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <ion-icon name="briefcase"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <h4>{{'Your Order List is Empty'|translate}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div *ngFor="let order of orders">
      <ion-card *ngIf="order.orders_status!= 'Cancel' && order.orders_status!= 'Completed' && order.orders_status!= 'Entregado'" class="ion-no-margin">
        <ion-row class="first-row">
          <ion-col>
            <ion-row class="ion-text-left">
              <ion-col>
                <ion-text class="ion-text-capitalize name">{{order.customers_name}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-left" (click)="showOrderDetail(order)">
              <ion-col>
                <ion-icon name="call"></ion-icon>
                <ion-text>{{"Call to Customer"}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row class="ion-text-right">
              <ion-col>
                <ion-text>{{"Status"|translate}} <b>{{order.orders_status}}</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-right">
              <ion-col>
                <ion-text>{{"Placed On"|translate}} <b>{{order.date_purchased| date}}</b></ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center row-center-borders">
          <ion-col class="border-all border-left-none">
            <ion-row>
              <ion-col>
                <ion-text>{{'Order Id'|translate}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>
                  <ion-text>#{{order.orders_id}}</ion-text>
                </b>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col class="border-all border-left-none">
            <ion-row>
              <ion-col>
                <ion-text>{{'Amount'|translate}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>
                  <ion-text>{{order.order_price|curency}}</ion-text>
                </b>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col class="border-all border-left-none border-right-none">
            <ion-row>
              <ion-col>
                <ion-text>{{'Payment Type'|translate}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>
                  <ion-text>{{order.payment_method}}</ion-text>
                </b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-left last-row">
          <ion-col>
            <ion-icon name="navigate"></ion-icon>
            <b>{{order.delivery_street_address+', '+order.delivery_city+', '+order.delivery_state+', '+order.delivery_country}}</b>
          </ion-col>
        </ion-row>
        <ion-button expand="block" fill=outline (click)="showOrderDetail(order)">{{'Details'|translate}}</ion-button>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
