.home-page-1 {
  --background: lightgrey;
  .grid {
    margin-top: 50%;
    ion-row {
      ion-col {
        text-align: center;
        ion-icon {
          zoom: 3.9;
          color: lightgrey;
        }
        ion-button {
          --border-radius: 0px;
        }
        h4 {
          font-size: 16px;
          font-weight: bold;
          margin-top: 2px;
          margin-bottom: 6px;
        }
        h5 {
          font-size: 14px;
          color: rgba(var(--ion-text-color-rgb), 0.5);
          margin-top: 0;
        }
      }
    }
  }
  ion-grid {
    ion-card {
      margin-top: 10px;
      color: var(--ion-text-color);
    }
    .first-row {
      .name {
        font-weight: bold;
        font-size: 18px;
      }
      ion-icon {
        vertical-align: middle;
        padding-right: 10px;
        color: var(--ion-color-primary);
        font-size: 22px;
      }
    }

    .row-center-borders {
      .border-all {
        border: 2px solid lightgrey;
      }
      .border-left-none {
        border-left: none;
      }
      .border-right-none {
        border-right: none;
      }
    }
    .last-row {
      ion-icon {
        vertical-align: middle;
        padding-right: 10px;
        color: var(--ion-color-primary);
        font-size: 22px;
      }
    }
  }
}
