<ion-app [class.green-theme]="config.appTheme=='green'" [class.plum-theme]="config.appTheme=='plum'"
  [class.magnesium-theme]="config.appTheme=='magnesium'" [class.salmon-theme]="config.appTheme=='salmon'"
  [class.blue-theme]="config.appTheme=='blue'" [class.pink-theme]="config.appTheme=='pink'"
  [class.orange-theme]="config.appTheme=='orange'" [class.maroon-theme]="config.appTheme=='maroon'"
  [class.cayanne-theme]="config.appTheme=='cayanne'" [class.red-theme]="config.appTheme=='red'"
  [class.sea-theme]="config.appTheme=='sea'" [class.sky-theme]="config.appTheme=='sky'"
  [class.grape-theme]="config.appTheme=='grape'" [class.dark-theme]="config.darkMode==true"
  [class.light-theme]="config.darkMode==false" [class.default-theme]="config.appTheme=='default'"
  [class.white-theme]="config.appTheme=='white'" [class.theme15]="config.appTheme=='theme15'"
  [class.theme16]="config.appTheme=='theme16'" [class.theme17]="config.appTheme=='theme17'"
  [class.theme18]="config.appTheme=='theme18'"
  [class.light-mode-plus-white-theme]="config.appTheme=='white' && config.darkMode==false"
  [class.dark-mode-plus-white-theme]="config.appTheme=='white' && config.darkMode==true"
  [class.light-mode-plus-black-theme]="config.appTheme=='default' && config.darkMode==false"
  [class.dark-mode-plus-black-theme]="config.appTheme=='default' && config.darkMode==true"
  class="copyPrimaryToSecondary">

  <ion-split-pane contentId="main-content" content="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>