<ion-header>
  <ion-toolbar>
    <ion-title>{{'Login'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-content">

  <img src="assets/login-back.png" />

  <ion-row class="ion-text-center">
    <ion-text>

      {{"Welcome to delivery boy application. This application give a functionality which builds a link between Admin and
      the Delivery boy."| translate}}
    </ion-text>
  </ion-row>
  <form #loginForm="ngForm" class="form" (ngSubmit)="login()">
    <ion-item lines="none" color="primary">
      <ion-label>{{'User Pin'|translate}}</ion-label>
      <ion-input name="password" [(ngModel)]="formData.password" required>
      </ion-input>
    </ion-item>
    <ion-row *ngIf="errorMessage!=''" class="ion-text-center">
      <ion-text color="danger">
        {{errorMessage| translate}}
      </ion-text>
    </ion-row>
    <ion-item lines="none" color="primary" class="button-item">
      <ion-button expand=full color="primary" [disabled]="!loginForm.form.valid" type=submit>
        {{ 'Login' | translate }}
      </ion-button>
    </ion-item>
  </form>
  <div id="log-in-button" style="display: none;"></div>
</ion-content>