// For image design
ion-img {
  height: 150px;
  opacity: 0.1;
}

.header-md:after {
  background-image: none;
  content: none;
}

.login-content {
  --background: var(--ion-color-primary);
  ion-text {
    padding-top: 30px;
    color: var(--ion-color-primary-contrast);
  }
  img {
    padding-top: 30px;
  }
  form {
    padding-top: 30px;
    ion-item {
      border: 2px solid var(--ion-color-primary-contrast);
      border-radius: 8px;
      padding-left: 10px;
      --padding-start: 0;
      --background: var(--ion-background-color);
      ion-label {
        color: var(--ion-color-primary-contrast);
      }
    }
    .button-item {
      margin-top: 10px;
      ion-button {
        width: 100%;
        height: 100%;
        --box-shadow: none;
        --border: none;
        text-transform: uppercase;
        --background: var(--ion-color-primary-shade);
        color: var(--ion-color-primary-contrast);
      }
    }
  }

  // For Login, Facebook, Register Buttons
  ion-button {
    &:nth-child(3) {
      text-transform: capitalize;
      margin-top: 15px;
    }
    &:nth-child(4) {
      margin-top: 15px;
      --background: #3b5998;
      color: white;
    }
    &:nth-child(5) {
      color: black;
      margin-top: 20px;
      --border-color: black;
      --border-width: thin;
    }
  }
}
