/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
:root,
:root[mode="md"],
:root[mode="md"] {
  --ion-font-family: "Roboto", "noto-sans";
  font-family: var(--ion-font-family) !important;
}
ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    ion-title {
      ion-img {
        height: 25px;
      }
    }
    ion-buttons {
      ion-icon {
        zoom: 1.3;
      }

      ion-button {
        overflow: visible !important;
        ion-badge {
          background-color: var(--ion-color-primary-contrast);
          color: var(--ion-color-primary);
          border: 1px solid var(--ion-color-primary-contrast);
          // --padding-top:
          position: absolute;
          top: 0px;
          right: -5px;
          // border-radius: 100%;
        }
      }
    }
  }
}

ion-content {
  --background: var(--ion-background-color);
  ion-item {
    --background: var(--ion-background-color);
  }
}
.top-icon-header {
  padding-top: 10px;
  ion-button {
    text-transform: capitalize;
    --padding-start: 7px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    ion-icon {
      font-size: 12px;
      margin-right: 3px;
      margin-left: 3px;
    }
  }

  #second {
    --padding-end: 5px;
    font-size: 10px;
    color: var(--ion-color-secondary);
    text-transform: uppercase;
    margin-left: auto;
    ion-icon {
      font-size: 10px;
      margin: 0;
    }
  }
}
.swiper-slide {
  text-align: left;
}
//=============================== rtl layout =========================
[dir="rtl"] {
  ion-header {
    ion-toolbar {
      ion-buttons {
        ion-button {
          ion-badge {
            right: auto;
            left: -5px;
          }
        }
      }
    }
  }

  .top-icon-header {
    #second {
      margin-right: auto;
      margin-left: 0;
    }
  }
}
[dir="rtl"] {
  .banner-slider.swiper-container,
  .product-slides.swiper-container {
    padding-right: 0px;
  }
  .swiper-container {
    padding-right: 10px;
  }
  .swiper-slide {
    text-align: right !important;
  }
  .product-component {
    ion-item {
      #list-heart-icon {
        right: auto;
        left: 10px;
      }
      .sale {
        right: auto;
        left: 0;
      }
      .featured {
        right: auto;
        left: 0;
      }
      ion-label {
        margin-right: 10px;
      }

      ion-thumbnail {
        .badge-img {
          right: 9px;
          left: auto;
          top: 9px;
          transform: rotate(90deg) scaleX(1);
        }
      }
    }
  }
}
app-product {
  width: 100%;
}

.animate-item {
  animation: fadeIn;
}

ion-toggle {
  // --background-checked: var(--ion-text-color);
  // --handle-background-checked: var(--ion-text-color);

  --background-checked: var(--ion-color-primary-contrast);
  --handle-background-checked: var(--ion-color-primary-contrast);
}
ion-radio {
  --color-checked: var(--ion-text-color);
  --color: var(--ion-text-color);
}
.light-mode-plus-white-theme {
  ion-tab-bar {
    //--background: var(--ion-background-color);
    ion-tab-button {
      // --color: #aaa;
      --color-selected: var(--ion-color-primary-contrast);
    }
  }
}
.dark-mode-plus-white-theme {
  ion-tab-bar {
    //--background: var(--ion-background-color);
    ion-tab-button {
      // --color: #aaa;
      --color-selected: var(--ion-color-primary);
    }
  }
}

.light-mode-plus-black-theme {
  ion-tab-bar {
    //--background: var(--ion-background-color);
    ion-tab-button {
      // --color: #aaa;
      --color-selected: var(--ion-color-primary);
    }
  }
}

.dark-mode-plus-black-theme {
  ion-tab-bar {
    //--background: var(--ion-background-color);
    ion-tab-button {
      // --color: #aaa;
      --color-selected: var(--ion-color-primary-contrast);
    }
  }
}

.progress-bar-custom {
  .progress-indicator {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .no-flexer,
  .progress-indicator.stacked {
    display: block;
  }
  .no-flexer-element {
    -ms-flex: 0;
    -webkit-flex: 0;
    -moz-flex: 0;
    flex: 0;
  }
  .flexer-element,
  .progress-indicator > li {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
  }
  .progress-indicator {
    margin: 0 0 1em;
    padding: 0;
    font-size: 80%;
    text-transform: uppercase;
  }
  .progress-indicator > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    display: block;
  }
  .progress-indicator > li:hover {
    color: #6f6f6f;
  }
  .progress-indicator > li.completed,
  .progress-indicator > li.completed .bubble {
    color: green;
  }
  .progress-indicator > li .bubble {
    border-radius: 1000px;
    width: 20px;
    height: 20px;
    background-color: #bbb;
    display: block;
    margin: 0 auto 0.5em;
    border-bottom: 1px solid #888;
  }
  .progress-indicator > li .bubble:after,
  .progress-indicator > li .bubble:before {
    display: block;
    position: absolute;
    top: 9px;
    width: 100%;
    height: 3px;
    content: "";
    background-color: #bbb;
  }
  .progress-indicator > li.completed .bubble,
  .progress-indicator > li.completed .bubble:after,
  .progress-indicator > li.completed .bubble:before {
    background-color: green;
    border-color: green;
  }
  .progress-indicator > li .bubble:before {
    left: 0;
  }
  .progress-indicator > li .bubble:after {
    right: 0;
  }
  .progress-indicator > li:first-child .bubble:after,
  .progress-indicator > li:first-child .bubble:before {
    width: 50%;
    margin-left: 50%;
  }
  .progress-indicator > li:last-child .bubble:after,
  .progress-indicator > li:last-child .bubble:before {
    width: 50%;
    margin-right: 50%;
  }
  .progress-indicator > li.active,
  .progress-indicator > li.active .bubble {
    color: #337ab7;
  }
  .progress-indicator > li.active .bubble,
  .progress-indicator > li.active .bubble:after,
  .progress-indicator > li.active .bubble:before {
    background-color: #337ab7;
    border-color: #122a3f;
  }
  .progress-indicator > li a:hover .bubble,
  .progress-indicator > li a:hover .bubble:after,
  .progress-indicator > li a:hover .bubble:before {
    background-color: #5671d0;
    border-color: #1f306e;
  }
  .progress-indicator > li a:hover .bubble {
    color: #5671d0;
  }
  .progress-indicator > li.danger .bubble,
  .progress-indicator > li.danger .bubble:after,
  .progress-indicator > li.danger .bubble:before {
    background-color: #d3140f;
    border-color: #440605;
  }
  .progress-indicator > li.danger .bubble {
    color: #d3140f;
  }
  .progress-indicator > li.warning .bubble,
  .progress-indicator > li.warning .bubble:after,
  .progress-indicator > li.warning .bubble:before {
    background-color: #edb10a;
    border-color: #5a4304;
  }
  .progress-indicator > li.warning .bubble {
    color: #edb10a;
  }
  .progress-indicator > li.info .bubble,
  .progress-indicator > li.info .bubble:after,
  .progress-indicator > li.info .bubble:before {
    background-color: #5b32d6;
    border-color: #25135d;
  }
  .progress-indicator > li.info .bubble {
    color: #5b32d6;
  }
  .progress-indicator.stacked > li {
    text-indent: -10px;
    text-align: center;
    display: block;
  }
  .progress-indicator.stacked > li .bubble:after,
  .progress-indicator.stacked > li .bubble:before {
    left: 50%;
    margin-left: -1.5px;
    width: 3px;
    height: 100%;
  }
  .progress-indicator.stacked .stacked-text {
    position: relative;
    z-index: 10;
    top: 0;
    margin-left: 60% !important;
    width: 45% !important;
    display: inline-block;
    text-align: left;
    line-height: 1.2em;
  }
  .progress-indicator.stacked > li a {
    border: none;
  }
  .progress-indicator.stacked.nocenter > li .bubble {
    margin-left: 0;
    margin-right: 0;
  }
  .progress-indicator.stacked.nocenter > li .bubble:after,
  .progress-indicator.stacked.nocenter > li .bubble:before {
    left: 10px;
  }
  .progress-indicator.stacked.nocenter .stacked-text {
    width: auto !important;
    display: block;
    margin-left: 40px !important;
  }
  @media handheld, screen and (max-width: 400px) {
    .progress-indicator {
      font-size: 60%;
    }
  }
}
