<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'Account'| translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="my-account-content">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-avatar>
        <ion-fab-button id="nametxt">{{getNameFirstLetter()}}</ion-fab-button>
      </ion-avatar>
      <ion-col size="12" class="ion-no-padding">
        <h2 class="ion-text-capitalize">{{shared.customerData.first_name +"&nbsp;"+shared.customerData.last_name}}</h2>
        <p>{{shared.customerData.email}}</p>
      </ion-col>
    </ion-row>
    <span class="opacity-background"></span>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      {{"Personal"|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{"Name"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.first_name +"&nbsp;"+shared.customerData.first_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Phone"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.phone}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Email"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.email}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"D-O-B"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.dob|date}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Blood Group"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.blood_group}}
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-header>
      {{"Bike"|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{"Bike Name"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.bike_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Bike Details"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.bike_details}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Color"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.bike_color}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Owner Name"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.owner_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Registration No"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.vehicle_registration_number}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"License"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right ion-no-padding"
          (click)="zoomImage(config.imgUrl+shared.customerData.driving_license_image)">
          <img [src]="config.imgUrl+shared.customerData.driving_license_image">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Rc Book"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right ion-no-padding"
          (click)="zoomImage(config.imgUrl+shared.customerData.vehicle_rc_book_image)">
          <img [src]="config.imgUrl+shared.customerData.vehicle_rc_book_image">
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-header>
      {{"Social"|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{"VoterId"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.voter_id}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Bank Passbook"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right ion-no-padding"
          (click)="zoomImage(config.imgUrl+shared.customerData.bank_passbook_image)">
          <img [src]="config.imgUrl+shared.customerData.bank_passbook_image">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Pan Card"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right ion-no-padding"
          (click)="zoomImage(config.imgUrl+shared.customerData.pan_card_image)">
          <img [src]="config.imgUrl+shared.customerData.pan_card_image">
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-header>
      {{"Referral"|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{"Refferrer Name"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{shared.customerData.referrer_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{"Refferrer Aadhaar"|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right ion-no-padding"
          (click)="zoomImage(config.imgUrl+shared.customerData.referrer_aadhaar_image)">
          <img [src]="config.imgUrl+shared.customerData.referrer_aadhaar_image">
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>