.my-account-content {
    ion-grid {
        .opacity-background {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--ion-color-primary-shade);
            opacity: 0.7;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        position: relative;
        background-color: var(--ion-color-primary);
        background-position: center;
        color: var(--ion-color-light);
        z-index: 10;
        ion-row {
            text-align: center;
            ion-avatar {
                margin: auto;
            }
            h2 {
                margin-top: 10px;
                font-weight: bold;
            }
            p {
                margin-top: 10px;
                margin-bottom: 8px;
            }
            ion-button {
                height: 30px;
                --background: var(--ion-color-light);
                color: var(--ion-color-primary-shade);
            }
        }
    }
    #nametxt {
        width: 100%;
        height: 100%;
        font-size: 25px;
        text-transform: capitalize;
    }
    .avatar-icon {
        font-size: 64px !important;
        color: var(--ion-color-light-shade);
    }

    ion-card {
        margin: 0;
        ion-card-header {
            font-size: 14px;
            margin-bottom: 0;
            margin-top: 0;
            color: var(--ion-color-light-contrast);
            background-color: var(--ion-color-light-shade);
            padding-top: 10px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 10px !important;
            h4 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 12px;
                font-weight: 600;
            }
        }
        ion-card-content {
            padding-top: 10px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 10px !important;
            font-size: 12px;
            color: var(--ion-text-color);
            .card-disable {
                color: rgba(var(--ion-text-color-rgb), 0.5) !important;
            }
            h3 {
                font-size: 16px;
                margin-bottom: 6px;

                small {
                    font-size: 80%;
                }
            }
            .item {
                --background: transparent;
            }

            ion-col {
                img {
                    width: 13%;
                }
            }
        }
    }
}
