<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="getBoyInfo(null)">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click)="click()">
      {{'Settings'| translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-label *ngIf="shared.statusOfBoy">
        {{"Online"|translate}}
      </ion-label>
      <ion-label *ngIf="!shared.statusOfBoy">
        {{"Offline"|translate}}
      </ion-label>
      <ion-toggle [(ngModel)]="shared.statusOfBoy" (ionChange)="shared.changeStatus()">
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="setting-page">
  <ion-refresher slot="fixed" (ionRefresh)="getBoyInfo($event)" style="z-index: 11;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-avatar>
        <ion-fab-button id="nametxt">{{getNameFirstLetter()}}</ion-fab-button>
      </ion-avatar>
      <ion-col size="12" class="ion-no-padding">
        <h2 class="ion-text-capitalize">{{shared.customerData.first_name +"&nbsp;"+shared.customerData.last_name}}</h2>
        <p>{{shared.customerData.email}}</p>
        <h3>{{shared.customerData.balance|curency}}</h3>
        <!-- <ion-button (click)="openAccountPage()">{{'Edit Profile' | translate }}</ion-button> -->
      </ion-col>
    </ion-row>
    <span class="opacity-background"></span>
  </ion-grid>

  <ion-list class="ion-no-padding">
    <ion-item lines="full">
      <ion-label>
        <p>{{"Floating Cash"|translate}}</p>
      </ion-label>
      <b slot=end>
        <p>{{shared.customerData.flosting_cash|curency}}</p>
      </b>
    </ion-item>
    <ion-item lines="full" (click)="openAccountPage()">
      <ion-label>
        <p>{{"Account Info"|translate}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full" (click)="openPage(v)" *ngFor="let v of shared.contentPages">
      <ion-label>
        <p>{{v.name|translate}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="secondary" (click)="logoutAfterConfirm()">{{'Log Out' | translate }}</ion-button>
</ion-footer>